# Dependencies
/node_modules

# React Native
/android
!/android/
!/android/app/
!/android/app/src/
!/android/app/src/main/
!/android/app/src/main/AndroidManifest.xml
!/android/app/src/main/java/
!/android/app/src/main/java/com/
!/android/app/src/main/java/com/dealmaster/
!/android/app/src/main/AndroidManifest.xml
!/android/app/src/main/java/com/dealmaster/SpeechModule.kt
!/android/app/src/main/java/com/dealmaster/SpeechPackage.kt
/ios
!/ios/Dealmaster/
!/ios/Dealmaster/Speech/
!/ios/Dealmaster/Speech/SpeechModule.swift
!/ios/Dealmaster/Speech/SpeechModuleBridge.m
/expo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metro
.expo
.expo-shared

# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Environment files
.env
