# Dependencies
/node_modules

# React Native
/android
/ios
!/ios
!/ios/Dealmaster/
!/ios/Dealmaster/**
/expo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Metro
.expo
.expo-shared

# macOS
.DS_Store

# Visual Studio Code
.vscode/

# Environment files
.env
